@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8f6f2;
  color: #111;
  font-family: "Cormorant Garamond", serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}
section {
  position: relative;
}

img {
  transition:
    transform 700ms ease,
    opacity 700ms ease;
}

a,
button {
  cursor: pointer;
}

::selection {
  background: black;
  color: white;
}