@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8f6f2;
  color: #111;
  font-family: "Cormorant Garamond", serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}
section {
  position: relative;
}

img {
  transition:
    transform 700ms ease,
    opacity 700ms ease;
}

a,
button {
  cursor: pointer;
}

::selection {
  background: black;
  color: white;
}

.name-shine {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.name-shine::after {
  content: "";
  position: absolute;

  top: 0;
  left: -150%;

  width: 50%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.9),
    transparent
  );

  transform: skewX(-20deg);

  animation: shine 1.4s ease;
}

.name-shine:hover::after {
  animation: shine 1s ease;
}

@keyframes shine {
  from {
    left: -150%;
  }

  to {
    left: 180%;
  }
}